:root{
    --lightgreen: #d5f9ba;
    --darkgreen: #009688;
    --greybackground: #d9dbd6;
    --lightblue: #8edafc;
    --lightgrey: #eaeaea;
    --grey: #b1b1b1;
    --darkgrey: #6b7376;
    --textbar: #f3eeea;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'PT Sans', sans-serif;
}


/*COMMON*/
.container-background{
    background-color: var(--darkgreen);
    height: 100vh;
    width: 100%;
    padding-top: 5vh;
}

.container-web-app{
    display: flex;
    width: 85%;
    margin: auto;
    height: 90vh;
}

@media screen and (max-width:768px){
    .container-background{
        padding-top: 0;
    }

    .container-web-app{
        width: 100%;
        height: 100vh;
    }
}
/*/COMMON*/


/*COLONNA SINISTRA*/
.column-sx{
    height: 100%;
    width: 35%;
    /*DEBUG*/
    background-color: burlywood;
    border: 3px solid red;
}

@media screen and (max-width:768px){
    .column-sx{
        width: 15%;
    }
}

@media screen and (max-width:426px){
    .column-sx{
        display: none;
    }
}
/*Header Sx*/
.header-sx{
    height: 10%;
    width: 100%;
    background-color: var(--lightgrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /*DEBUG*/
    border: 2px solid black;
}

@media screen and (max-width:768px){
    .header-sx{
        justify-content: center;
        padding: 0 0;
    }
    
    .options-header-sx{
        display: none;
    }
}
/*/Header Sx*/

/*Hero Sx*/
.hero-sx{
    height: 10%;
    width: 100%;
    background-color: var(--lightblue);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0 20px;
    /*DEBUG*/
    border: 2px solid black;
}

@media screen and (max-width:768px){
    .hero-sx{
        display: none;
    }
}
/*/Hero Sx*/

/*Navigation Sx*/
.navigation-sx{
    height: 7%;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    /*DEBUG*/
    border: 2px solid black;
}

.container-navigation-sx{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 60%;
    background-color: white;
    /*DEBUG*/
    border: 1px solid var(--lightgrey);
}

.search-navigation-sx{
    width: 80%;
    border: transparent;
}

.navigation-sx i{
    color: var(--grey);
}

@media screen and (max-width:768px){
    .navigation-sx{
        display: none;
    }
}
/*/Navigation Sx*/

/*Main Sx*/
.main-sx{
    height: 73%;
    width: 100%;
    background-color: white;
    /*DEBUG*/
    border: 2px solid black;
}

@media screen and (max-width:768px){
    .main-sx{
        height: 90%;
    }
}
/*/Main Sx*/
/*/COLONNA SINISTRA*/


/*COLONNA DESTRA*/
.column-dx{
    height: 100%;
    width: 65%;
    /*DEBUG*/
    background-color:chocolate;
    border: 3px solid red;
}

@media screen and (max-width:768px){
    .column-dx{
        width: 85%;
    }
}

@media screen and (max-width:426px){
    .column-dx{
        width: 100%;
    }
}
/*Header Dx*/
.header-dx{
    height: 10%;
    width: 100%;
    background-color: var(--lightgrey);
    /*DEBUG*/
    border: 2px solid black;
}
/*/Header Dx*/

/*Main Dx*/
.main-dx{
    height: 80%;
    width: 100%;
    background-image: url(../img/mine.jpg);
    /*DEBUG*/
    border: 2px solid black;
}
/*/Main Dx*/

/*Footer Dx*/
.footer-dx{
    height: 10%;
    width: 100%;
    background-color: var(--textbar);
    /*DEBUG*/
    border: 2px solid black;
}
/*/Footer Dx*/
/*/COLONNA DESTRA*/